<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="necroNetToolkit.Mail" type="NecroNet.Toolkit.Mail.NecroNetToolkitMailConfigurationSection, NecroNet.Toolkit"/>
	</configSections>

	<necroNetToolkit.Mail>
		<from address="noreply@example.com" />
	</necroNetToolkit.Mail>

	<system.net>
		<mailSettings>
			<smtp deliveryMethod="SpecifiedPickupDirectory">
				<specifiedPickupDirectory pickupDirectoryLocation="C:\TempMail"/>
			</smtp>
		</mailSettings>
	</system.net>

	<system.web>
		<pages>
			<namespaces>
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Routing" />
				<add namespace="NecroNet.Toolkit.Tests.MailTests"/>
			</namespaces>
		</pages>
	</system.web>
</configuration>