@model NecroNetToolkit.Web.Test.Models.EmailModel

@{
	Layout = null;
}

<!DOCTYPE html>

<html>
	<head>
		<title>title</title>
	</head>
	<body>
		<div>
			@Model.Message
		</div>
	</body>
</html>