@{
    ViewBag.Title = "Home Page";
}

<script type="text/javascript">

</script>

<div>
	<div>
		<h1>xea</h1>
	</div>
</div>

<form action="/get" method="POST">
	<input type="text" name="query" id="query" />
	
	<a href="HREF">TEXT</a>
	
	<a href="javascript:openPopup(id)">GOGOGO</a>
	
	<a href="javascript:void(0)" id="click">ClickMe</a>

	<input type="submit" name="submit" value="Submit" />
	
	<select name="name" id="name" />
	
	<label for="someselect">Some Select</label>

	<select name="someselect" id="someselect">
		<option value="bla">ble</option>
		<option value="ble">bleh</option>
		<option value="value">Text</option>
	</select>
	
	<img src="" alt="Alternate Text" />
	<br />
	<br />
	<br /><br /><br />
</form>

<button name="btn" id="btn">Text</button>